@font-face {
    font-family: 'Almarai';
    src: url('./Almarai-Regular.ttf') format("truetype");
}
body {
    margin: 0;
    background: #2b2b2b;
    color: #f3f0f0;
    font-family: 'Almarai';
    font-size: 1.3em;
    text-align: center;
    padding-top: 40px;
}
a {
    padding: 15px;
    width: 400px;
    display: inline-block;
    background: none;
    text-decoration: none;
    font-size: 0.8em;
    border: 2px solid #f3f0f0;
    color: #f3f0f0;
    font-family: 'Almarai';
    margin-top: 20px;
}
a:hover {
    background-color: #575757;
}
strong {
    font-size: 1.2em;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
hr {
    color: #a9a9a9;
}
