/* latin-ext */
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(../font/400ie.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(../font/400i.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(../font/700ie.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(../font/700i.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../font/400e.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../font/400.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../font/700e.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../font/700.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
body {
    font-family: 'Atkinson Hyperlegible';
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}
#receiptEntry {
    display: none;
    flex-direction: column;
}
.show {
    display: flex !important;
}
.hide {
    display: none;
}
.img-scan {
    padding: 1em;
    justify-content: center;
}
.receiptDesc {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}
.date-time-field > input {
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100% !important;
}
.tripList {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.listTitleLarge {
    display: none !important;
}
nav {
    background-color: #008dde;
    background-image: linear-gradient(90deg, #008dde 0%, #FC00FF 100%);
}
.list-group-item-action {
    width: unset !important;
    border-radius: .375rem !important;
    border: var(--bs-border-width) solid var(--bs-border-color) !important;
}
.btn-outline-secondary,.btn-outline-dark {
    border: none;
}
.hover-red:hover, .hover-red:focus, .hover-red:active {
   background-color: var(--bs-danger) !important;
}
#printMessage {
    margin: auto;
    text-align: center;
}
.img-print {
    max-width: 180mm;
    max-height: 257mm;
    width: auto;
    height: auto;
}
.page-print {
    break-before: page;
}
.typeText {
    display: none;
}
abbr[title] {
    position: relative;
  
    /* ensure consistent styling across browsers */
    text-decoration: none;
}
abbr[title]:hover::after,
abbr[title]:focus::after {
  content: attr(title);

  /* position tooltip like the native one */
  position: absolute;
  left: 0;
  bottom: -30px;
  width: auto;
  white-space: nowrap;

  /* style tooltip */
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
  font-size: 14px;
  padding: 3px 5px;
}
main {
    flex-direction: column;
}
@media print {
    .no-print {
      display: none;
    }
}
@media (min-width: 768px) {
    .listTitleSmall{
        display: none !important;
    }
    #receiptEntry {
        flex-direction: row;
    }
    .receiptDesc {
        display: block;
        text-align: unset;
    }
    .listTitleLarge {
        display: flex !important;
    }
    main {
        flex-direction: row;
    }
    .tripList {
        height: 100vh;
        min-height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        width: 380px;
    }
    .img-scan {
        max-height: unset;
        align-items: center;
    }
    .typeText {
        display: inline;
    }
    .d-none {
        display: block !important;
    }
}